@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    z-index: 100;
    opacity: 0;
    cursor: pointer;
  }

  input[type="date"]::-webkit-datetime-edit {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    color: #4a4f56;
    font-weight: 500;
    font-size: 16px;
  }

  input[type="date"] {
    display: flex;
    flex-flow: row-reverse;
    padding: 6px 0px 6px 15px;
    height: auto;
    width: fit-content;
    border-radius: 4px;
  }
}
